h1 {
    color:green;
}

.red-para {
    color:red;
}

.red-para.big-text {
    size: 50;
}

#main-header {
    color:aquamarine;
    text-align: center;
}

.body {
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
}

pre {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}