h1 {
    color:green;
}

.red-para {
    color:red;
}

.red-para.big-text {
    size: 50;
}

#main-header {
    color:aquamarine;
    text-align: center;
}

body {
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
    color: rgb(221, 221, 221);
}

pre {
    text-align: center;
}

html {
    background-color: rgb(31, 31, 31);
}