<header class="header">



    <nav class="header_nav">

        <div class="header_item header_left header_cove">
            <a href="/" class="big no_margin header_cove">Vazu's Cove</a>
        </div>

        <ul class="hlist header_right">
            <div class="dropdown some_shit_idk">
                <div class="header_item" type="button" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Unreal Stuff
                </div>
                <ul class="dropdown-menu">
                    <li class="some_shit_idk"><a href="minutum" class="dropdown-item">Minutum</a></li>
                    <li class="some_shit_idk"><a href="waveformeditorextension" class="dropdown-item">Waveform Editor Extension</a></li>
                </ul>
            </div>
            <div class="dropdown some_shit_idk">
                <div class="header_item" type="button" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Misc Projects
                </div>
                <ul class="dropdown-menu">
                    <li class="some_shit_idk"><a href="wonderlandsuipropertyexplorer" class="dropdown-item">Wonderlands UI Property Explorer</a></li>
                </ul>
            </div>
            <li class="some_shit_idk"><a href="music" class="header_item">Music</a></li>
        </ul>
    </nav>
</header>