<header class="header">



    <nav class="header_nav">

        <div class="header_item header_left header_cove">
            <a href="/" class="big no_margin header_cove">
                <img src="/assets/images/faviconwhiteborder.png" class="header-icon"/>
                Vazu's Cove
            </a>
        </div>

        <ul class="hlist header_right">
            <li class="list_entry"><a href="workhistory" class="header_item">Work History</a></li>
            <div class="dropdown list_entry">
                <div class="header_item" type="button" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Unreal Stuff
                </div>
                <ul class="dropdown-menu">
                    <li class="list_entry"><a href="minutum" class="dropdown-item">Minutum</a></li>
                    <li class="list_entry"><a href="waveformeditorextension" class="dropdown-item">Waveform Editor Extension</a></li>
                </ul>
            </div>
            <div class="dropdown list_entry">
                <div class="header_item" type="button" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Misc Projects
                </div>
                <ul class="dropdown-menu">
                    <li class="list_entry"><a href="wonderlandsuipropertyexplorer" class="dropdown-item">Wonderlands UI Property Explorer</a></li>
                    <li class="list_entry"><a href="obsidianglobalthemes" class="dropdown-item">Obsidian Global Themes Plugin</a></li>
                </ul>
            </div>
        </ul>
    </nav>
</header>