.navbar-text {
    height: min-content;
    text-decoration: none;
}

.navbar-anchor {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    height: min-content;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(83, 83, 83);
}

.currentPage { color:#00ff95; border-color: #00ff95; }

.notCurrentPage { color:#04993d; border-color: #04993d; }

.projectHeader { color:gold; margin-bottom: 25px;}

.myCenterText { width:auto; text-align: center;}

.myLeftText { width:auto; text-align: left;}

.myCenterImage { display: block; margin-left: auto; margin-right: auto; width: 100%; }

.imageSizer { width: 100%; }

.bg-lightdark { --bs-bg-opacity: 1; background-color: rgb(117, 116, 116); }

.my-navbar-dark { --bs-bg-opacity: 1; background-color: rgb(22, 22, 22);}

.row { display: flex; }
  
.column { flex: 50%; }

.projectDescription { background-color: rgb(102, 102, 102);}

.pageHeader { color: rgb(0, 0, 0); background-color: rgb(71, 71, 71); width: 250px; margin: auto; margin-bottom: 20px; margin-top: 20px;}

.headerBackground { background-color: red;}

.carousel-control-prev { justify-content: left; }

.carousel-control-next { justify-content: right; }


.navbar-anchor:hover { background-color: rgb(48, 48, 48); color:aquamarine}