* {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}

.navbar-text {
    height: min-content;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 400;
}

.navbar-anchor {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    height: min-content;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 1px;
    border-style: none;
    /* background-color: rgb(83, 83, 83); */
}

.currentPage { color:#ffffff; /* border-color: #00ff95; */ }

.notCurrentPage { color:#a8a8a8; /* border-color: #04993d; */ }

.projectHeader { color:gold; margin-bottom: 25px;}

.myCenterText { width:auto; text-align: center;}

.myLeftText { width:auto; text-align: left;}

.myCenterImage { display: block; margin-left: auto; margin-right: auto; width: 100%; }

.imageSizer { width: 100%; }

.bg-lightdark { --bs-bg-opacity: 1; background-color: rgb(117, 116, 116); }

.my-navbar-dark { --bs-bg-opacity: 1; background-color: rgb(22, 22, 22);}

.row { display: flex; }
  
.column { flex: 50%; }

.projectDescription { font-size: large; color: rgb(0, 0, 0)/* background-color: rgb(102, 102, 102); */}

.pageHeader { color: rgb(0, 0, 0); /* background-color: rgb(71, 71, 71); */ width: 250px; margin: auto; margin-bottom: 20px; margin-top: 20px;}

.headerBackground { background-color: red;}

.carousel-control-prev { justify-content: left; }

.carousel-control-next { justify-content: right; }


.navbar-anchor:hover { background-color: rgb(48, 48, 48); color:aquamarine; filter: brightness(1) sepia(1) saturate(100%) hue-rotate(120deg) }