.navbar-text {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    height: min-content;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    background-color: rgb(83, 83, 83);
    
}

.currentPage {
    color:rgb(0, 255, 85);
    border-color: rgb(0, 255, 85);
}


.notCurrentPage {
    color:rgb(135, 166, 252);
    border-color: rgb(135, 166, 252);
}

.projectHeader { color:gold; margin-bottom: 25px;}

.myCenterText { width:auto; text-align: center;}

.myLeftText { width:auto; text-align: left;}

.myCenterImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

.imageSizer {
    width: 100%;
}

.bg-lightdark { 
    --bs-bg-opacity: 1; 
    background-color: rgb(117, 116, 116);
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.projectDescription { background-color: rgb(102, 102, 102);}

.pageHeader { color: rgb(0, 0, 0); background-color: rgb(71, 71, 71); width: 250px; margin: auto; margin-bottom: 20px; margin-top: 20px;}

.headerBackground { background-color: red;}

.carousel-control-prev { 
    justify-content: left;
}

.carousel-control-next { 
    justify-content: right; 
}
